.App {
  color: blue;
 
}

.ikon {
  color: red;
  font-size: 50px;
}
.x {
  background-color:rgba(255, 255, 255, 0.247);
  color: white;
  font-size: 3vw;
  position: relative;
  top: 5vw;
  left: 95vw;
  z-index: 10;
  cursor: pointer;
  
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 50px;
  background-color: lightgray;
}

.logo {
  margin-left: 20px;
}

.navlist-horizontal {
  display: none;
  margin: 0px 30px;
  font-size: 18px;
  height: 25px;
  width: 100%;
  text-align: right;
}

.navlist-vertical {
  
  font-size: 18px;
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: lightgray;
  text-align: center;
}

.navlist-none {
  display: none;
}

.navlist {
  margin: 0px auto;
  line-height: 25px;
  width: 100%;
  cursor: pointer;
}

.navlisthor {
  display: inline;
  margin: 0px 30px;
  cursor: pointer;
  padding: 3px;
}

.navlist:hover {
  outline: 1px blue solid;
}

.navlisthor:hover {
  outline: 1px blue solid;
}

.hamburger {
  font-size: 30px;
  margin: auto;
  margin-right: 20px;
  cursor: pointer;
}

.slideshow {
  margin: 70px auto;
  width: 95%;
}
.job-container {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.jobimg {
  width: 100%;
  padding:10px;
  display:block;
  
}

@media only screen and (min-width: 600px) {
  .hamburger {
      display: none;
  }
  .navlist-horizontal {
      display: inline;
  }
  .navlist-vertical {
      display: none;
  }
}