.App {
  color: blue;
  max-width: 1080px;
}

.ikon {
  color: red;
  font-size: 50px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: 50px;
  background-color: lightgray;
}

.logo {
  margin-left: 20px;
}

.navlist-horizontal {
  display: none;
  margin: 0px 30px;
  font-size: 18px;
  height: 25px;
  width: 100%;
  text-align: right;
}

.navlist-vertical {
  font-size: 18px;
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: lightgray;
  text-align: center;
}

.navlist-none {
  display: none;
}

.navlist {
  margin: 0px auto;
  line-height: 25px;
  width: 100%;
  cursor: pointer;
}

.navlisthor {
  display: inline;
  margin: 0px 30px;
  cursor: pointer;
  padding: 3px;
}

.navlist:hover {
  outline: 1px blue solid;
}

.navlisthor:hover {
  outline: 1px blue solid;
}

.hamburger {
  font-size: 30px;
  margin: auto;
  margin-right: 20px;
  cursor: pointer;
}

.slideshow {
  margin: 100px auto;
  width: 100%;
}

@media only screen and (min-width: 400px) {
  .hamburger {
      display: none;
  }
  .navlist-horizontal {
      display: inline;
  }
  .navlist-vertical {
      display: none;
  }
}